@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

@mixin grid-self{
    display:grid;
    align-items: center;
    justify-items: center;
}

// RIGHT SIDE(IMAGE)
.main-display {
    @include grid-self;
    grid-template-columns: 1fr 2fr;
}

.main-image{
    justify-self: end;
    display: flex;
    flex-direction: column;
}

.main-image h2{
    padding: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: rgb(96, 96, 149);
    font-family: 'Ubuntu', sans-serif;
}

.change-skin{
    align-self: center;
}

.change-skin button{
    background: rgba(73, 65, 85, 0.5);
    border: whitesmoke 1px solid;
    color: whitesmoke;
}

.change-skin button:hover{
    background: rgba(73, 65, 85, 1);
}

//LEFT SIDE(SPELLS)
.spell-info{
    @include grid-self;
    grid-template-columns: 1fr 1fr 1fr;
}

.spell-text{
    justify-self: start;
}

.spell-text h5{
    color: blueviolet;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.2px;
}

.cd-text,
.cost-text{
    @include grid-self;
    display: flex;
    justify-items: start;
}

.cd-text span{
    color: rgb(135, 226, 141);
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.05px;
}

.cost-text span{
    color: rgb(230, 233, 143);
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.05px;

}

// SKIN SCREEN
.skin-screen{
    grid-template-columns: repeat(5, 1fr);
    height: 90vh; width: 100vw;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.skin-screen img{
    position: relative;
    transform: translateX(50%);
    width: 10vw;
    border: transparent 2px solid;
}

.skin-screen img:hover{
    border: white 2px solid;
}

.skin-select{
    grid-template-columns: repeat(6, 1fr);
    display: grid;
    align-items: center;
    position: relative;
}

.open{
    display:grid;
}

@media screen and (max-width: 740px){
    //IMAGE (LEFT)
    .main-image img{
        max-width: 120%;
    }
    .main-image h2{
        font-size: 7.5vw;
    }

    //SPELLS (RIGHT)
    .spell-info img{
        max-width: 40%;
    }
    .spell-text h5{
        font-size: 4vw;
    }
    .spell-text p,
    .spell-text span{
        font-size: 2vw;
    }
    .cd-text,
    .cost-text{
    @include grid-self;
    justify-items: start;
    }

    // SKIN SELECT
    .skin-screen img{
        width: 15vw;
    }
    .skin-select{
        grid-template-columns: repeat(4, 1fr); 
        
    }
} 