@mixin grid-self{
    display:grid;
    align-items: center;
    justify-items: start;
}

.result-container{
    @include grid-self();
    grid-template-areas: 1fr 1fr;
}

.profile-head{
    @include grid-self();
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 2fr;
}