@import url('https://fonts.googleapis.com/css?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

// VARIABLES
$black-background: #0D0C1D;
$base-textcolor: rgb(150, 168, 162);

/* GLOBAL */
html, body {
    margin: 0;
    padding: 0;
  }

*, *::after, *::before {
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 25px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px rgb(147, 147, 147);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb{
    background: rgba(147, 147, 147, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(147, 147, 147, 0.8);
}

body{
    background: $black-background;
    color: $base-textcolor;
    font-family: 'Belleza', sans-serif;
    height: 100vh;
    text-rendering: optimizeLegibility;
}

input{
    color: $base-textcolor;
    width: 2em; height: 2em;
}

.home{
    margin-top: 3em;
}

// NAVBAR
nav{
    box-shadow: 0px 1px 100px 4px rgba(167, 148, 238, 0.8);
    z-index: 10;
}

.nav-wrapper{
    background-color: rgba(125, 91, 190, 0.8);
}

.responsive{
    font-family: 'Anton', sans-serif;
}

.brand-logo {
    font-family: 'Bellefair', serif;
}

.hamburger{
    position: absolute;
    top: 2%;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
    transition: all 0.2s ease;
}

.hamburger span{
    border: rgb(255, 255, 255) 2px solid;
    border-radius: 20px
}

// CARDS
.results{
    height: 300px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    align-items: center;
    justify-items: center;
    transition: all 0.3s ease
}

.post{
    background: $black-background;
    border: rgba(60, 119, 236, 0) outset 1.5px;
    border-radius: 0.5em;
    background-clip: padding-box;
}

.post:hover {
    border: rgb(60, 119, 236) inset 1.5px;
    transition: all 0.2s ease;
}

.card-content{
    text-align: center;
    color: $base-textcolor;
    height: 320px;
}

.card-content span{
    color: rgb(96, 96, 149);
    font-family: 'Ubuntu', sans-serif;
}

.no-results{
    position: absolute;
    left: 50%;
    transform: translate( -50%, 1000%);
}

// ANIMATIONS
@keyframes navAppear{
    from{opacity: 0}
    to{opacity: 1}
}

@media screen and (max-width: 768px){
    .hamburger{
        display: flex;
    }
    // REPONSIVE NAVBAR
    .right{
        display: none;
    }
    .right li{
        opacity: 0;
    }
    .responsive{
        transition: 0.3s ease all;
        padding: 1em 0px;
        width: 100vw;
        left:0;
        position: absolute;
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        z-index: 10;
        top: 8.85%;
        animation: navAppear 0.3s ease-out forwards;
    }
    .responsive li{
        border-bottom: 1px solid transparent;
        transition: 0.3s ease all;
        opacity: 1;
    }
    .responsive li:hover{
        border-bottom: white 1px solid;
    }
}
