@import url('https://fonts.googleapis.com/css?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

// VARIABLES
$black-background: #0D0C1D;
$base-textcolor: #EFFFFA;

/* GLOBAL */
html, body {
    margin: 0;
    padding: 0;
  }

*, *::after, *::before {
    box-sizing: border-box;
}

body{
    background: $black-background;
    color: $base-textcolor;
    font-family: 'Belleza', sans-serif;
    height: 100vh;
    text-rendering: optimizeLegibility;
}

input{
    color: $base-textcolor;
    width: 2em; height: 2em;
}

.home{
    margin-top: 3em;
}

nav{
    opacity: 1;
    
}

nav #brand-logo {
    font-family: 'Bellefair', serif;
}

// CARDS
.results{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
}

.post{
    background: $black-background;
    border: lightblue solid 1px;
    border-radius: 0.5em;
}

.card-content{
    align-items: center;
    color: $base-textcolor;
}

.card-content span{
    color: rgb(96, 96, 149);
    font-family: 'Ubuntu', sans-serif;
}

.no-results{
    position: absolute;
    left: 50%;
    transform: translate( -50%, 1000%);
}
