@import url('https://fonts.googleapis.com/css?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

// VARIABLES
$black-background: #0D0C1D;
$base-textcolor: #EFFFFA;

/* GLOBAL */
html, body {
    margin: 0;
    padding: 0;
  }

*, *::after, *::before {
    box-sizing: border-box;
}

body{
    background: $black-background;
    color: $base-textcolor;
    font-family: 'Belleza', sans-serif;
    height: 100vh;
    text-rendering: optimizeLegibility;
}

input{
    color: $base-textcolor;
    width: 2em; height: 2em;
}

.home{
    margin-top: 3em;
}

nav{
    opacity: 1;
    
}

nav #brand-logo {
    font-family: 'Bellefair', serif;
}

// CARDS
.results{
    height: 300px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    align-items: center;
    justify-items: center;
    transition: all 0.3s ease
}

.post{
    background: $black-background;
    border: rgba(60, 119, 236, 0) outset 1.5px;
    border-radius: 0.5em;
    background-clip: padding-box;
}

.post:hover {
    border: rgb(60, 119, 236) inset 1.5px;
    transition: all 0.2s ease;
}

.card-content{
    text-align: center;
    color: $base-textcolor;
    height: 320px;
}

.card-content span{
    color: rgb(96, 96, 149);
    font-family: 'Ubuntu', sans-serif;
}

.no-results{
    position: absolute;
    left: 50%;
    transform: translate( -50%, 1000%);
}
